flatbuffers==25.12.19
numpy==2.5.3
onnxruntime==1.30.0
opencv-python==5.0.0.93
opencv-python-headless==4.14.0.94
packaging==26.3
pillow==12.3.0
pip==25.1.1
protobuf==7.36.2
pyclipper==1.4.0
pyyaml==6.0.3
rapidocr-onnxruntime==1.2.3
shapely==2.1.2
six==1.17.0
